<div class="page-title-actions">
    <div class="d-inline-block dropdown">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-business-time fa-w-20"></i>
            </span>
            Export
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{{ path('stream_export') }}" class="nav-link">
                        <i class="nav-link-icon lnr-inbox"></i>
                        <span>
                            Tous les utilisateurs - CSV
                        </span>
                        <div class="ml-auto badge badge-pill badge-secondary"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>